# Graph Ideas:

 1. Subject wise top and least 5
 2. Subject wise highest answered question to least 
 3. Question wise SD in each subject
 4. Part-A and Part-B full marks Comparision each Subject(pie chart)
 5. Marks range pie chart (18,15-17...)
 6. Avg marks in each question part-a and part-b (pie chart)

# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import difflib
from difflib import SequenceMatcher

In [3]:
sns.set_theme(context='notebook',style='darkgrid',palette='deep',font='sans-serif',rc={'figure.figsize':(12,8)})

# Reading and visulazing the Data

In [4]:
dms = pd.read_excel("datasets/DMS.xlsx")
python = pd.read_excel("datasets/Programming Essentials in Python.xlsx")
se = pd.read_excel("datasets/Software Engineering.xlsx")
sds = pd.read_excel("datasets/SDS-2.xlsx")

In [5]:
dms.tail(10)

,VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
68,64,21L35A5401,3,4,4,NaN,1,1,NaN,1,NaN,11,9,NaN
69,65,21L35A5402,4,5,5,NaN,0,1,NaN,NaN,NaN,11,10,NaN
70,65,21L35A5403,3,5,5,NaN,3,4,NaN,2,NaN,19,13,NaN
71,65,21L35A5404,2,5,NaN,NaN,0,2,NaN,0,NaN,7,6,NaN
72,65,21L35A5405,3,5,5,NaN,2,1,NaN,0,NaN,13,10,NaN
73,65,21L35A5406,6,5,NaN,NaN,2,5,NaN,1,NaN,13,13,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,Faculty Name & Signature,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HoD

In [6]:
sub_code = dms.at[1,"VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM"]
sub_name = dms.at[1,"Unnamed: 3"]

print(sub_name)
print(sub_code)

Course Name : Discrete Mathematical Structures
Course Code : 1000202100

In [7]:
python.head(10)

,VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,PROGRAMME: B Tech,NaN,NaN,YEAR :,NaN,NaN,2,NaN,SEMESTER:,NaN,1,MID: 1,BRANCH,AI&DS
1,Course Code :1005202104,NaN,NaN,Course Name : PROGRAMMING ESSENTIALS IN PYTHON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date of Exam,2022-12-18 00:00:00
2,S.No,Regd. No,PART-A,PART-B (SUBJECTIVE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRAND,Student sign
3,NaN,NaN,OBJECTIVE,2 (10M),NaN,NaN,3 (10M),NaN,NaN,4 (4M),NaN,TOTAL,TOTAL,NaN
4,NaN,NaN,6M,A,B,C,A,B,C,A,B,24,18,NaN
5,1,20L31A5401,5,5,4,NaN,3,2,NaN,3,NaN,17,14,NaN
6,2,20L31A5402,6,5,4,NaN,5,5,NaN,4,NaN,23,18,NaN
7,3,20L31A5403,4,4,4,NaN,4,3,NaN,4,NaN,19,14,NaN
8,4,20L31A5404,6,5,4,NaN,5,5,NaN,3,NaN,22,17,NaN
9,5,20L31A5405,5,3,4,NaN,0,4,NaN,4,NaN,15,13,NaN

In [8]:
sub_code1 = python.at[1,"VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM"]
sub_name1 = python.at[1,"Unnamed: 3"]

print(sub_name1)
print(sub_code1)

Course Name : PROGRAMMING ESSENTIALS IN PYTHON
Course Code :1005202104

In [9]:
se.head(10)

,VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,PROGRAMME: B Tech,NaN,NaN,YEAR : II,NaN,NaN,NaN,NaN,SEMESTER:,NaN,I,MID: 1,BRANCH,AIDS
1,Course Code :1005202103,NaN,NaN,Course Name :SOFTWARE ENGINEERING,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date of Exam,2022-01-20 00:00:00
2,S.No,Regd. No,PART-A,PART-B (SUBJECTIVE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRAND,Student sign
3,NaN,NaN,OBJECTIVE,2 (10M),NaN,NaN,3 (10M),NaN,NaN,4 (4M),NaN,TOTAL,TOTAL,NaN
4,NaN,NaN,6M,A,B,C,A,B,C,A,B,24,18,NaN
5,1,20L31A5401,2,4,4,NaN,1,1,NaN,NaN,NaN,10,7,NaN
6,2,20L31A5402,3,5,4,NaN,5,5,NaN,4,NaN,23,15,NaN
7,3,20L31A5403,3,5,4,NaN,5,4,NaN,3,NaN,21,14,NaN
8,4,20L31A5404,3,4,4,NaN,5,5,NaN,4,NaN,22,14,NaN
9,5,20L31A5405,1,3,NaN,NaN,4,5,NaN,0,NaN,12,7,NaN

In [10]:
sub_code2 = se.at[1,"VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM"]
sub_name2 = se.at[1,"Unnamed: 3"]

print(sub_name2)
print(sub_code2)

Course Name :SOFTWARE ENGINEERING
Course Code :1005202103

In [11]:
sds.head(10)

,VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,BRANCH:,AI&DS,NaN,WEEKLY TEST MARKS
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,S.no,Regd. No,1.12.2021,22.12.2021,NaN,NaN,NaN,NaN
3,1,20L31A5401,8,8,NaN,NaN,NaN,NaN
4,2,20L31A5402,9,10,NaN,NaN,NaN,NaN
5,3,20L31A5403,10,10,NaN,NaN,NaN,NaN
6,4,20L31A5404,10,10,NaN,NaN,NaN,NaN
7,5,20L31A5405,6,4,NaN,NaN,NaN,NaN
8,6,20L31A5406,8,9,NaN,NaN,NaN,NaN
9,7,20L31A5407,A,6,NaN,NaN,NaN,NaN

In [12]:
sub_code3 = sds.at[1,"VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM"]
sub_name3 = sds.at[1,"Unnamed: 3"]

type(sub_name3)
type(sub_code3)

float

# Data Cleaning

In [13]:
python.drop(labels=[0,1,2,3,4], axis=0,inplace=True)
# dropping unnessary rows
python.drop(["VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM",'Unnamed: 5','Unnamed: 8','Unnamed: 10','Unnamed: 13'], axis=1,inplace=True)
# renaming cols
python.columns = ['roll','objective','2M-A','2M-B','3M-A','3M-B','4M','total','ftotal']
# resetting the index
python.reset_index(inplace = True)
python.index+=1
# dropping previous index
python.drop(['index'], axis=1,inplace=True)
# filling null values with 0
python.dropna(thresh=6, inplace=True)
python.fillna(value=0, inplace=True)



dms.drop(labels=[0,1,2,3,4], axis=0,inplace=True)
dms.drop(["VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM",'Unnamed: 5','Unnamed: 8','Unnamed: 10','Unnamed: 13'], axis=1,inplace=True)
dms.columns = ['roll','objective','2M-A','2M-B','3M-A','3M-B','4M','total','ftotal']
dms.reset_index(inplace = True)
dms.index+=1
dms.drop(['index'], axis=1,inplace=True)
dms.dropna(thresh=6, inplace=True)
dms.fillna(value=0, inplace=True)

se.drop(labels=[0,1,2,3,4], axis=0,inplace=True)
se.drop(["VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM",'Unnamed: 5','Unnamed: 8','Unnamed: 10','Unnamed: 13'], axis=1,inplace=True)
se.columns = ['roll','objective','2M-A','2M-B','3M-A','3M-B','4M','total','ftotal']
se.reset_index(inplace = True)
se.index+=1
se.drop(['index'], axis=1,inplace=True)
se.dropna(thresh=6, inplace=True)
se.fillna(value=0, inplace=True)

# sds.drop(labels=[0,1,2], axis=0,inplace=True)
# sds.drop(["VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM",'Unnamed: 5','Unnamed: 8','Unnamed: 10','Unnamed: 13'], axis=1,inplace=True)
# sds.reset_index()

In [14]:
python.set_index("roll")
python.head(10)

          roll  objective  2M-A  2M-B  3M-A  3M-B  4M  total  ftotal
1   20L31A5401          5     5     4     3     2   3     17      14
2   20L31A5402          6     5     4     5     5   4     23      18
3   20L31A5403          4     4     4     4     3   4     19      14
4   20L31A5404          6     5     4     5     5   3     22      17
5   20L31A5405          5     3     4     0     4   4     15      13
6   20L31A5406          5     4     4     3     2   1     14      12
7   20L31A5407          2     3     0     2     0   1      6       5
8   20L31A5408          3     5     0     5     0   2     12       9
9   20L31A5409          6     5     5     5     5   4     24      18
10  20L31A5411          6     5     3     5     5   4     22      17

In [15]:
se.head(10)

          roll  objective  2M-A  2M-B  3M-A  3M-B  4M  total  ftotal
1   20L31A5401          2     4     4     1     1   0     10       7
2   20L31A5402          3     5     4     5     5   4     23      15
3   20L31A5403          3     5     4     5     4   3     21      14
4   20L31A5404          3     4     4     5     5   4     22      14
5   20L31A5405          1     3     0     4     5   0     12       7
6   20L31A5406          3     5     3     3     2   2     15      11
7   20L31A5407          2     5     3     5     5   0     18      11
8   20L31A5408          1     5     2     5     5   2     19      11
9   20L31A5409          2     4     4     1     4   0     13       9
10  20L31A5411          4     5     5     5     4   3     22      15

In [16]:
dms.tail(10)

          roll  objective  2M-A  2M-B  3M-A  3M-B  4M  total  ftotal
60  20L31A5461          5     5     2     1     0   1      9      10
61  20L31A5462          5     5     5     2     3   2     17      14
62  20L31A5463          6     5     5     2     1   2     15      14
63  20L31A5464          6     5     5     0     0   2     12      12
64  21L35A5401          3     4     4     1     1   1     11       9
65  21L35A5402          4     5     5     0     1   0     11      10
66  21L35A5403          3     5     5     3     4   2     19      13
67  21L35A5404          2     5     0     0     2   0      7       6
68  21L35A5405          3     5     5     2     1   0     13      10
69  21L35A5406          6     5     0     2     5   1     13      13

## Sorting df based on ftotal

In [17]:
python_sorted =python.sort_values(by=['ftotal'], ascending=False)
python_sorted.reset_index(inplace = True)
python_sorted.index+=1
python_sorted.drop(columns=['index'],inplace=True)
python_sorted.head(10)
python_sorted = python_sorted.loc[~(python_sorted==0).all(axis=1)]

In [18]:
se_sorted =se.sort_values(by=['ftotal'], ascending=False)
se_sorted.reset_index(inplace = True)
se_sorted.index+=1
se_sorted.drop(columns=['index'],inplace=True)
se_sorted = se_sorted.loc[~(se_sorted==0).all(axis=1)]
se_sorted.head(10)

          roll  objective  2M-A  2M-B  3M-A  3M-B  4M  total  ftotal
1   20L31A5418          6     5     5     5     5   4     24      18
2   20L31A5461          6     3     4     5     5   4     21      17
3   20L31A5455          5     5     4     5     5   4     23      17
4   20L31A5427          5     5     3     5     5   4     22      16
5   20L31A5431          4     4     5     5     5   4     23      16
6   20L31A5454          6     5     4     5     3   3     20      16
7   20L31A5452          4     5     4     5     5   4     23      16
8   20L31A5416          5     5     4     4     4   4     21      16
9   20L31A5438          4     4     5     5     5   4     23      16
10  20L31A5460          4     4     4     5     4   4     21      15

In [19]:
dms_sorted = dms.sort_values(by=['ftotal'], ascending=False)
dms_sorted.reset_index(inplace = True)
dms_sorted.index+=1
dms_sorted.drop(columns=['index'],inplace=True)
dms_sorted = dms_sorted.loc[~(dms_sorted==0).all(axis=1)]
dms_sorted.head(10)

          roll  objective  2M-A  2M-B  3M-A  3M-B  4M  total  ftotal
1   20L31A5431          6     5     5     5     5   4     24      18
2   20L31A5418          6     5     5     3     5   3     21      17
3   20L31A5404          6     5     5     3     5   3     21      17
4   20L31A5409          6     5     5     4     5   3     22      17
5   20L31A5451          6     5     5     5     5   2     22      17
6   20L31A5452          6     5     5     5     5   2     22      17
7   20L31A5454          6     5     5     3     5   2     20      16
8   20L31A5402          6     5     5     3     3   4     20      16
9   20L31A5444          6     5     5     3     5   2     20      16
10  20L31A5415          6     5     5     5     3   2     20      16

## Basic Stats

In [20]:
least5_python = python_sorted.tail(5)
least5_python

          roll  objective  2M-A  2M-B  3M-A  3M-B  4M  total  ftotal
65  21L35A5402          1     4     3     0     0   0      7       5
66  20L31A5453          2     2     0     2     0   0      4       4
67  20L31A5448          1     2     0     1     0   0      3       3
68  20L31A5441          0     3     0     0     0   0      3       2
69  20L31A5456          1     0     0     0     0   1      1       2

In [21]:
top5_python = python_sorted.head(5)
least5_python = python_sorted.tail(5)
i=1
j=1
print("=======================================")
print("\t     Top-5 Marks")
print("=======================================")
for index, std in top5_python.iterrows():
    print("{}.{} has obtained {} marks".format(i,std['roll'],std['ftotal']))
    i+=1
print("=======================================")
print("\t     Least-5 Marks")
print("=======================================")
for index, std in least5_python.iterrows():
    print("{}.{} has obtained {} marks".format(j,std['roll'],std['ftotal']))
    j+=1
print("\nThe Average marks obtained in {} are {} for 18".format("Python",python['ftotal'].mean()))
print("\nThe Standard Deviation of marks of students is {}".format(python['ftotal'].std()))
print("\nStandard Deviation in Part-A is {}".format(python['objective'].std()))
print("\nStandard Deviation in Part-B is {}".format(python['total'].std()))
if python['objective'].std() < python['total'].std() :
    print("\nStudents performed better in Part-A than Part-B")
else:
    print("\nStudents performed better in Part-B than Part-A")

m_stats_dict = (python['ftotal'].value_counts()).to_dict()
m_stats = (python['ftotal'].value_counts()).to_frame()
m_stats= m_stats.reset_index()
m_stats.columns = ['Marks','no.of stds']
m_stats.sort_values(by=['Marks'],ascending=False,inplace=True)
m_stats= m_stats.reset_index()
m_stats.drop(columns=['index'],inplace=True)
#m_stats

=======================================
	     Top-5 Marks
=======================================
1.20L31A5434 has obtained 18 marks
2.20L31A5409 has obtained 18 marks
3.20L31A5425 has obtained 18 marks
4.20L31A5450 has obtained 18 marks
5.20L31A5435 has obtained 18 marks
=======================================
	     Least-5 Marks
=======================================
1.21L35A5402 has obtained 5 marks
2.20L31A5453 has obtained 4 marks
3.20L31A5448 has obtained 3 marks
4.20L31A5441 has obtained 2 marks
5.20L31A5456 has obtained 2 marks

The Average marks obtained in Python are 13.217391304347826 for 18

The Standard Deviation of marks of students is 4.361831661993656

Standard Deviation in Part-A is 1.5929565770718572

Standard Deviation in Part-B is 6.25359231800374

Students performed better in Part-A than Part-B

In [22]:
for key in reversed(list(sorted(m_stats_dict.keys()))):
    print("no.of students of scored {} are {}".format(key,m_stats_dict[key]))

no.of students of scored 18 are 12
no.of students of scored 17 are 9
no.of students of scored 16 are 2
no.of students of scored 15 are 6
no.of students of scored 14 are 11
no.of students of scored 13 are 7
no.of students of scored 12 are 4
no.of students of scored 11 are 4
no.of students of scored 10 are 1
no.of students of scored 9 are 3
no.of students of scored 8 are 1
no.of students of scored 6 are 3
no.of students of scored 5 are 2
no.of students of scored 4 are 1
no.of students of scored 3 are 1
no.of students of scored 2 are 2

In [25]:
avg_df = python.loc[:, python.columns != 'roll']
avg_df = avg_df.mean().to_frame().reset_index()
avg_df = avg_df.iloc[1:]
avg_df.columns = ['part-wise','avg-marks-obtained']
fig = px.bar(avg_df,x='part-wise', y='avg-marks-obtained', text='avg-marks-obtained',title="Avg Marks of class")
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')
fig.update_layout(xaxis_fixedrange=True,yaxis_fixedrange=True)
fig.show()

In [24]:
avg_df.head()

  part-wise  avg-marks-obtained
1      2M-A            4.347826
2      2M-B            3.173913
3      3M-A            3.420290
4      3M-B            2.492754
5        4M            2.826087

In [23]:
rollno = input("Enter roll num: ")
roll_no = difflib.get_close_matches(str(rollno), list(python['roll']))
roll_no = roll_no[0]
std_df = python.loc[python['roll']==roll_no]
std_pivot = std_df.transpose().reset_index()
std_pivot= std_pivot.iloc[1:]
std_pivot
std_pivot.columns = ['part-wise','marks-obtained']
std_pivot
fig = px.bar(std_pivot,y='part-wise', x='marks-obtained', text='marks-obtained', orientation='h',title=f'{roll_no} Performance')
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')
fig.update_layout(
    yaxis = dict(autorange="reversed")
)
fig.show()

Enter roll num: 13

IndexError: list index out of range

In [ ]:
fig = px.scatter(python,y="objective", x="total", color="roll",hover_data=['2M-A','2M-B','3M-A','3M-B','4M','ftotal'],size='ftotal',title='Student Wise Marks Distribution')
fig.show()

In [ ]:
x = int(input("Enter min marks (0-18) : "))

df = python.loc[python['ftotal']>=x]

fig = px.bar(df,x="ftotal", y="roll", text='ftotal',orientation='h',title=f'{len(df)} members obtained greater than {x} marks ',width=1100, height=1500,)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')
fig.update_layout(
    yaxis = dict(autorange="reversed")
)
fig.show()

In [ ]:
x, y = input("Enter two values: ").split()

df = python.loc[(python['ftotal']>=int(x))&(python['ftotal']<=int(y))]

fig = px.bar(df,x="ftotal", y="roll", text='ftotal',orientation='h',title=f'{len(df)} members got marks in between {x} marks and {y} marks ',width=1100, height=1500,)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')
fig.update_layout(
    yaxis = dict(autorange="reversed")
)
fig.show()

In [ ]:
x = int(input("Enter max marks (0-18) : "))
df = python.loc[python['ftotal']<=x]

fig = px.bar(df,x="ftotal", y="roll", text='ftotal',orientation='h',title=f'{len(df)} members obtained less than {x} marks ',width=1100, height=1500,)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')
fig.update_layout(
    yaxis = dict(autorange="reversed")
)
fig.show()

In [ ]:
fig = px.bar(python,x="objective", y="roll", text='objective', orientation='h',width=1100, height=1500,title='Class performance in Part-A')
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')
fig.update_layout(
    yaxis = dict(autorange="reversed")
)
fig.show()

In [ ]:
fig = px.bar(python,x="total", y="roll", text='total', orientation='h',width=1100, height=1500,title='Class performance in Part-B')
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')
fig.update_layout(
    yaxis = dict(autorange="reversed")
)
fig.show()

In [ ]:
fig = px.bar(python,x="ftotal", y="roll", text='ftotal', orientation='h',width=1100, height=1500,title='Overall Class Performance')
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')
fig.update_layout(
    yaxis = dict(autorange="reversed")
)
fig.show()

In [ ]:
fig = px.bar(m_stats,x="Marks", y="no.of stds", text='no.of stds',title="count of marks obtained")
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')
fig.show()

In [25]:
data = [{'Part':'objective','Std': python['objective'].std()},
        {'Part':'2M-A','Std': python['2M-A'].std()},
        {'Part':'2M-B','Std': python['2M-B'].std()},
        {'Part':'3M-A','Std': python['3M-A'].std()},
        {'Part':'3M-B','Std': python['3M-B'].std()},
        {'Part':'4M','Std': python['4M'].std()},
        {'Part':'total','Std': python['total'].std()},
        {'Part':'ftotal','Std': python['ftotal'].std()}
       ]
std_df = pd.DataFrame(data)
std_df.sort_values(by='Std',inplace=True)
std_dict = std_df.to_dict()
for x in range(1,8):
    print('Standard Deviation of marks in {} is {}'.format(std_dict['Part'][x],std_dict['Std'][x]))
print("\nStudents performed well in {} with least standard deviation of {}".format(std_dict['Part'][1],std_dict['Std'][1]))
std_dict

Standard Deviation of marks in 2M-A is 1.1609591237233639
Standard Deviation of marks in 2M-B is 1.7231684371864526
Standard Deviation of marks in 3M-A is 1.7184620098955896
Standard Deviation of marks in 3M-B is 1.9675543822800234
Standard Deviation of marks in 4M is 1.4547743077347126
Standard Deviation of marks in total is 6.25359231800374
Standard Deviation of marks in ftotal is 4.361831661993656

Students performed well in 2M-A with least standard deviation of 1.1609591237233639

{'Part': {1: '2M-A',
  5: '4M',
  0: 'objective',
  3: '3M-A',
  2: '2M-B',
  4: '3M-B',
  7: 'ftotal',
  6: 'total'},
 'Std': {1: 1.1609591237233639,
  5: 1.4547743077347126,
  0: 1.5929565770718572,
  3: 1.7184620098955896,
  2: 1.7231684371864526,
  4: 1.9675543822800234,
  7: 4.361831661993656,
  6: 6.25359231800374}}

In [ ]:
fig = px.pie(std_df, values='Std', names='Part', title='Part Wise Standard Deviation')
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()