In [2]:
import pandas as pd
import numpy as np

In [3]:
dms = pd.read_excel("datasets/DMS.xlsx")
python = pd.read_excel("datasets/Programming Essentials in Python.xlsx")
se = pd.read_excel("datasets/Software Engineering.xlsx")
sds = pd.read_excel("datasets/SDS-2.xls")

In [4]:
dms.head(10)

,VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,PROGRAMME: B Tech,NaN,NaN,YEAR : II,NaN,NaN,NaN,NaN,SEMESTER:,NaN,I,MID: 1,BRANCH,AI & DS
1,Course Code : 1000202100,NaN,NaN,Course Name : Discrete Mathematical Structures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date of Exam,2022-10-01 00:00:00
2,S.No,Regd. No,PART-A,PART-B (SUBJECTIVE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRAND,Student sign
3,NaN,NaN,OBJECTIVE,2 (10M),NaN,NaN,3 (10M),NaN,NaN,4 (4M),NaN,TOTAL,TOTAL,NaN
4,NaN,NaN,6M,A,B,C,A,B,C,A,B,24,18,NaN
5,1,20L31A5401,5,5,5,NaN,3,2,NaN,2,NaN,17,14,NaN
6,2,20L31A5402,6,5,5,NaN,3,3,NaN,4,NaN,20,16,NaN
7,3,20L31A5403,4,5,5,NaN,3,3,NaN,3,NaN,19,14,NaN
8,4,20L31A5404,6,5,5,NaN,3,5,NaN,3,NaN,21,17,NaN
9,5,20L31A5405,2,5,5,NaN,2,5,NaN,1,NaN,18,11,NaN

In [5]:
python.head(10)

,VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,PROGRAMME: B Tech,NaN,NaN,YEAR :,NaN,NaN,2,NaN,SEMESTER:,NaN,1,MID: 1,BRANCH,AI&DS
1,Course Code :1005202104,NaN,NaN,Course Name : PROGRAMMING ESSENTIALS IN PYTHON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date of Exam,2022-12-18 00:00:00
2,S.No,Regd. No,PART-A,PART-B (SUBJECTIVE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRAND,Student sign
3,NaN,NaN,OBJECTIVE,2 (10M),NaN,NaN,3 (10M),NaN,NaN,4 (4M),NaN,TOTAL,TOTAL,NaN
4,NaN,NaN,6M,A,B,C,A,B,C,A,B,24,18,NaN
5,1,20L31A5401,5,5,4,NaN,3,2,NaN,3,NaN,17,14,NaN
6,2,20L31A5402,6,5,4,NaN,5,5,NaN,4,NaN,23,18,NaN
7,3,20L31A5403,4,4,4,NaN,4,3,NaN,4,NaN,19,14,NaN
8,4,20L31A5404,6,5,4,NaN,5,5,NaN,3,NaN,22,17,NaN
9,5,20L31A5405,5,3,4,NaN,0,4,NaN,4,NaN,15,13,NaN

In [6]:
se.head(10)

,VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,PROGRAMME: B Tech,NaN,NaN,YEAR : II,NaN,NaN,NaN,NaN,SEMESTER:,NaN,I,MID: 1,BRANCH,AIDS
1,Course Code :1005202103,NaN,NaN,Course Name :SOFTWARE ENGINEERING,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date of Exam,2022-01-20 00:00:00
2,S.No,Regd. No,PART-A,PART-B (SUBJECTIVE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRAND,Student sign
3,NaN,NaN,OBJECTIVE,2 (10M),NaN,NaN,3 (10M),NaN,NaN,4 (4M),NaN,TOTAL,TOTAL,NaN
4,NaN,NaN,6M,A,B,C,A,B,C,A,B,24,18,NaN
5,1,20L31A5401,2,4,4,NaN,1,1,NaN,NaN,NaN,10,7,NaN
6,2,20L31A5402,3,5,4,NaN,5,5,NaN,4,NaN,23,15,NaN
7,3,20L31A5403,3,5,4,NaN,5,4,NaN,3,NaN,21,14,NaN
8,4,20L31A5404,3,4,4,NaN,5,5,NaN,4,NaN,22,14,NaN
9,5,20L31A5405,1,3,NaN,NaN,4,5,NaN,0,NaN,12,7,NaN

In [7]:
sds.head(10)

,VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,BRANCH:,AI&DS,NaN,WEEKLY TEST MARKS
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,S.no,Regd. No,1.12.2021,22.12.2021,NaN,NaN,NaN,NaN
3,1,20L31A5401,8,8,NaN,NaN,NaN,NaN
4,2,20L31A5402,9,10,NaN,NaN,NaN,NaN
5,3,20L31A5403,10,10,NaN,NaN,NaN,NaN
6,4,20L31A5404,10,10,NaN,NaN,NaN,NaN
7,5,20L31A5405,6,4,NaN,NaN,NaN,NaN
8,6,20L31A5406,8,9,NaN,NaN,NaN,NaN
9,7,20L31A5407,A,6,NaN,NaN,NaN,NaN