In [1]:
import pandas as pd
import numpy as np

In [2]:
dms = pd.read_excel("datasets/DMS.xlsx")
python = pd.read_excel("datasets/DMS.xlsx")

In [3]:
dms.head(10)

,VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,PROGRAMME: B Tech,NaN,NaN,YEAR : II,NaN,NaN,NaN,NaN,SEMESTER:,NaN,I,MID: 1,BRANCH,AI & DS
1,Course Code : 1000202100,NaN,NaN,Course Name : Discrete Mathematical Structures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date of Exam,2022-10-01 00:00:00
2,S.No,Regd. No,PART-A,PART-B (SUBJECTIVE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRAND,Student sign
3,NaN,NaN,OBJECTIVE,2 (10M),NaN,NaN,3 (10M),NaN,NaN,4 (4M),NaN,TOTAL,TOTAL,NaN
4,NaN,NaN,6M,A,B,C,A,B,C,A,B,24,18,NaN
5,1,20L31A5401,5,5,5,NaN,3,2,NaN,2,NaN,17,14,NaN
6,2,20L31A5402,6,5,5,NaN,3,3,NaN,4,NaN,20,16,NaN
7,3,20L31A5403,4,5,5,NaN,3,3,NaN,3,NaN,19,14,NaN
8,4,20L31A5404,6,5,5,NaN,3,5,NaN,3,NaN,21,17,NaN
9,5,20L31A5405,2,5,5,NaN,2,5,NaN,1,NaN,18,11,NaN