# Graph Ideas:

 1. Subject wise top and least 5
 2. Subject wise highest answered question to least 
 3. Question wise SD in each subject
 4. Part-A and Part-B full marks Comparision each Subject(pie chart)
 5. Marks range pie chart (18,15-17...)
 6. Avg marks in each question part-a and part-b (pie chart)

# Importing Libraries

In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Reading and visulazing the Data

In [2]:
dms = pd.read_excel("datasets/DMS.xlsx")
python = pd.read_excel("datasets/Programming Essentials in Python.xlsx")
se = pd.read_excel("datasets/Software Engineering.xlsx")
sds = pd.read_excel("datasets/SDS-2.xlsx")

In [3]:
dms.head(10)

,VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,PROGRAMME: B Tech,NaN,NaN,YEAR : II,NaN,NaN,NaN,NaN,SEMESTER:,NaN,I,MID: 1,BRANCH,AI & DS
1,Course Code : 1000202100,NaN,NaN,Course Name : Discrete Mathematical Structures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date of Exam,2022-10-01 00:00:00
2,S.No,Regd. No,PART-A,PART-B (SUBJECTIVE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRAND,Student sign
3,NaN,NaN,OBJECTIVE,2 (10M),NaN,NaN,3 (10M),NaN,NaN,4 (4M),NaN,TOTAL,TOTAL,NaN
4,NaN,NaN,6M,A,B,C,A,B,C,A,B,24,18,NaN
5,1,20L31A5401,5,5,5,NaN,3,2,NaN,2,NaN,17,14,NaN
6,2,20L31A5402,6,5,5,NaN,3,3,NaN,4,NaN,20,16,NaN
7,3,20L31A5403,4,5,5,NaN,3,3,NaN,3,NaN,19,14,NaN
8,4,20L31A5404,6,5,5,NaN,3,5,NaN,3,NaN,21,17,NaN
9,5,20L31A5405,2,5,5,NaN,2,5,NaN,1,NaN,18,11,NaN

In [4]:
python.head(10)

,VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,PROGRAMME: B Tech,NaN,NaN,YEAR :,NaN,NaN,2,NaN,SEMESTER:,NaN,1,MID: 1,BRANCH,AI&DS
1,Course Code :1005202104,NaN,NaN,Course Name : PROGRAMMING ESSENTIALS IN PYTHON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date of Exam,2022-12-18 00:00:00
2,S.No,Regd. No,PART-A,PART-B (SUBJECTIVE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRAND,Student sign
3,NaN,NaN,OBJECTIVE,2 (10M),NaN,NaN,3 (10M),NaN,NaN,4 (4M),NaN,TOTAL,TOTAL,NaN
4,NaN,NaN,6M,A,B,C,A,B,C,A,B,24,18,NaN
5,1,20L31A5401,5,5,4,NaN,3,2,NaN,3,NaN,17,14,NaN
6,2,20L31A5402,6,5,4,NaN,5,5,NaN,4,NaN,23,18,NaN
7,3,20L31A5403,4,4,4,NaN,4,3,NaN,4,NaN,19,14,NaN
8,4,20L31A5404,6,5,4,NaN,5,5,NaN,3,NaN,22,17,NaN
9,5,20L31A5405,5,3,4,NaN,0,4,NaN,4,NaN,15,13,NaN

In [5]:
se.head(10)

,VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,PROGRAMME: B Tech,NaN,NaN,YEAR : II,NaN,NaN,NaN,NaN,SEMESTER:,NaN,I,MID: 1,BRANCH,AIDS
1,Course Code :1005202103,NaN,NaN,Course Name :SOFTWARE ENGINEERING,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Date of Exam,2022-01-20 00:00:00
2,S.No,Regd. No,PART-A,PART-B (SUBJECTIVE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRAND,Student sign
3,NaN,NaN,OBJECTIVE,2 (10M),NaN,NaN,3 (10M),NaN,NaN,4 (4M),NaN,TOTAL,TOTAL,NaN
4,NaN,NaN,6M,A,B,C,A,B,C,A,B,24,18,NaN
5,1,20L31A5401,2,4,4,NaN,1,1,NaN,NaN,NaN,10,7,NaN
6,2,20L31A5402,3,5,4,NaN,5,5,NaN,4,NaN,23,15,NaN
7,3,20L31A5403,3,5,4,NaN,5,4,NaN,3,NaN,21,14,NaN
8,4,20L31A5404,3,4,4,NaN,5,5,NaN,4,NaN,22,14,NaN
9,5,20L31A5405,1,3,NaN,NaN,4,5,NaN,0,NaN,12,7,NaN

In [6]:
sds.head(10)

,VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,BRANCH:,AI&DS,NaN,WEEKLY TEST MARKS
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,S.no,Regd. No,1.12.2021,22.12.2021,NaN,NaN,NaN,NaN
3,1,20L31A5401,8,8,NaN,NaN,NaN,NaN
4,2,20L31A5402,9,10,NaN,NaN,NaN,NaN
5,3,20L31A5403,10,10,NaN,NaN,NaN,NaN
6,4,20L31A5404,10,10,NaN,NaN,NaN,NaN
7,5,20L31A5405,6,4,NaN,NaN,NaN,NaN
8,6,20L31A5406,8,9,NaN,NaN,NaN,NaN
9,7,20L31A5407,A,6,NaN,NaN,NaN,NaN

# Data Cleaning

In [7]:
python.drop(labels=[0,1,2,3,4], axis=0,inplace=True)
# dropping unnessary rows
python.drop(["VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM",'Unnamed: 5','Unnamed: 8','Unnamed: 10','Unnamed: 13'], axis=1,inplace=True)
# renaming cols
python.columns = ['roll','objective','2M-A','2M-B','3M-A','3M-B','4M','total','ftotal']
# resetting the index
python.reset_index(inplace = True)
python.index+=1
# dropping previous index
python.drop(['index'], axis=1,inplace=True)
# filling null values with 0
python.fillna(value=0, inplace=True)


dms.drop(labels=[0,1,2,3,4], axis=0,inplace=True)
dms.drop(["VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM",'Unnamed: 5','Unnamed: 8','Unnamed: 10','Unnamed: 13'], axis=1,inplace=True)
dms.columns = ['roll','objective','2M-A','2M-B','3M-A','3M-B','4M','total','ftotal']
dms.reset_index(inplace = True)
dms.index+=1
dms.drop(['index'], axis=1,inplace=True)
dms.fillna(value=0, inplace=True)

se.drop(labels=[0,1,2,3,4], axis=0,inplace=True)
se.drop(["VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM",'Unnamed: 5','Unnamed: 8','Unnamed: 10','Unnamed: 13'], axis=1,inplace=True)
se.columns = ['roll','objective','2M-A','2M-B','3M-A','3M-B','4M','total','ftotal']
se.reset_index(inplace = True)
se.index+=1
se.drop(['index'], axis=1,inplace=True)
se.fillna(value=0, inplace=True)

# sds.drop(labels=[0,1,2], axis=0,inplace=True)
# sds.drop(["VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM",'Unnamed: 5','Unnamed: 8','Unnamed: 10','Unnamed: 13'], axis=1,inplace=True)
# sds.reset_index()

In [8]:
python.set_index("roll")
python.head(10)

          roll  objective  2M-A  2M-B  3M-A  3M-B  4M  total  ftotal
1   20L31A5401          5     5     4     3     2   3     17      14
2   20L31A5402          6     5     4     5     5   4     23      18
3   20L31A5403          4     4     4     4     3   4     19      14
4   20L31A5404          6     5     4     5     5   3     22      17
5   20L31A5405          5     3     4     0     4   4     15      13
6   20L31A5406          5     4     4     3     2   1     14      12
7   20L31A5407          2     3     0     2     0   1      6       5
8   20L31A5408          3     5     0     5     0   2     12       9
9   20L31A5409          6     5     5     5     5   4     24      18
10  20L31A5411          6     5     3     5     5   4     22      17

In [9]:
se.head(10)

          roll objective  2M-A  2M-B  3M-A  3M-B  4M total  ftotal
1   20L31A5401         2     4     4     1     1   0    10       7
2   20L31A5402         3     5     4     5     5   4    23      15
3   20L31A5403         3     5     4     5     4   3    21      14
4   20L31A5404         3     4     4     5     5   4    22      14
5   20L31A5405         1     3     0     4     5   0    12       7
6   20L31A5406         3     5     3     3     2   2    15      11
7   20L31A5407         2     5     3     5     5   0    18      11
8   20L31A5408         1     5     2     5     5   2    19      11
9   20L31A5409         2     4     4     1     4   0    13       9
10  20L31A5411         4     5     5     5     4   3    22      15

In [10]:
dms.head(10)

          roll  objective  2M-A  2M-B  3M-A  3M-B  4M  total  ftotal
1   20L31A5401          5     5     5     3     2   2     17      14
2   20L31A5402          6     5     5     3     3   4     20      16
3   20L31A5403          4     5     5     3     3   3     19      14
4   20L31A5404          6     5     5     3     5   3     21      17
5   20L31A5405          2     5     5     2     5   1     18      11
6   20L31A5406          2     5     2     1     1   1     10       7
7   20L31A5407          1     5     2     0     0   0      7       5
8   20L31A5408          0     3     1     0     0   0      4       2
9   20L31A5409          6     5     5     4     5   3     22      17
10  20L31A5411          6     5     5     3     3   2     18      15

## Sorting df based on ftotal

In [12]:
python_sorted =python.sort_values(by=['ftotal'], ascending=False)
python_sorted.head(10)

          roll  objective  2M-A  2M-B  3M-A  3M-B  4M  total  ftotal
37  20L31A5438          6     5     5     5     5   4     24      18
12  20L31A5413          6     5     5     5     5   4     24      18
33  20L31A5434          6     5     4     5     5   4     23      18
2   20L31A5402          6     5     4     5     5   4     23      18
25  20L31A5426          6     5     5     5     5   4     24      18
24  20L31A5425          6     5     5     5     5   4     24      18
49  20L31A5450          6     5     5     5     5   3     23      18
51  20L31A5452          6     5     5     5     5   4     24      18
13  20L31A5414          6     5     5     5     5   4     24      18
34  20L31A5435          6     5     5     5     4   4     23      18

In [13]:
dms_sorted = dms.sort_values(by=['ftotal'], ascending=False)
dms_sorted.head(10)

          roll  objective  2M-A  2M-B  3M-A  3M-B  4M  total  ftotal
30  20L31A5431          6     5     5     5     5   4     24      18
4   20L31A5404          6     5     5     3     5   3     21      17
51  20L31A5452          6     5     5     5     5   2     22      17
17  20L31A5418          6     5     5     3     5   3     21      17
50  20L31A5451          6     5     5     5     5   2     22      17
9   20L31A5409          6     5     5     4     5   3     22      17
43  20L31A5444          6     5     5     3     5   2     20      16
14  20L31A5415          6     5     5     5     3   2     20      16
53  20L31A5454          6     5     5     3     5   2     20      16
54  20L31A5455          6     5     5     3     5   2     20      16

In [14]:
se_sorted = se.sort_values(by=['ftotal'], ascending=False)
se_sorted.head(10)

          roll objective  2M-A  2M-B  3M-A  3M-B  4M total  ftotal
17  20L31A5418         6     5     5     5     5   4    24      18
60  20L31A5461         6     3     4     5     5   4    21      17
54  20L31A5455         5     5     4     5     5   4    23      17
15  20L31A5416         5     5     4     4     4   4    21      16
30  20L31A5431         4     4     5     5     5   4    23      16
37  20L31A5438         4     4     5     5     5   4    23      16
26  20L31A5427         5     5     3     5     5   4    22      16
51  20L31A5452         4     5     4     5     5   4    23      16
53  20L31A5454         6     5     4     5     3   3    20      16
59  20L31A5460         4     4     4     5     4   4    21      15

## Basic Stats

In [54]:
top5_python = dms_sorted.head(5)
i=1
print("=======================================")
print("\t     Top-5 Marks")
print("=======================================")
for index, std in top5_python.iterrows():
    print("{}.{} has obtained {} marks".format(i,std['roll'],std['ftotal']))
    i+=1
print("\nThe Average marks obtained in {} are {}".format("Python",python['ftotal'].mean()))
print("\nThe Standard Deviation of marks of students is {}".format(python['ftotal'].std()))
print("\nStandard Deviation in Part-A is {}".format(python['objective'].std()))
print("\nStandard Deviation in Part-B is {}".format(python['total'].std()))
if python['objective'].std() < python['total'].std() :
    print("\nStudents performed better in Part-A than Part-B")
else:
    print("\nStudents performed better in Part-B than Part-A")

m_stats = (python['ftotal']. value_counts()).to_list()
print(m_stats)

=======================================
	     Top-5 Marks
=======================================
1.20L31A5431 has obtained 18 marks
2.20L31A5404 has obtained 17 marks
3.20L31A5452 has obtained 17 marks
4.20L31A5418 has obtained 17 marks
5.20L31A5451 has obtained 17 marks

The Average marks obtained in Python are 12.666666666666666

The Standard Deviation of marks of students is 5.0294904958541595

Standard Deviation in Part-A is 1.8397774070979978

Standard Deviation in Part-B is 6.939882695765536

Students performed better in Part-A than Part-B
[12, 11, 9, 7, 6, 4, 4, 3, 3, 3, 2, 2, 2, 1, 1, 1, 1]