# Graphing Ideas

### 1. Common Top 5 and Least 5

In [580]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import difflib
from difflib import SequenceMatcher
import plotly.express as px

In [536]:
sns.set_theme(context='notebook',style='darkgrid',palette='deep',font='sans-serif',rc={'figure.figsize':(12,8)})

In [537]:
dms = pd.read_excel("datasets/DMS.xlsx")
python = pd.read_excel("datasets/Programming Essentials in Python.xlsx")
se = pd.read_excel("datasets/Software Engineering.xlsx")
sds = pd.read_excel("datasets/SDS-2.xlsx")

In [538]:
sub_code = dms.at[1,"VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM"]
sub_name = dms.at[1,"Unnamed: 3"]

print(sub_name)
print(sub_code)

Course Name : Discrete Mathematical Structures
Course Code : 1000202100

In [539]:
sub_code = dms.at[1,"VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM"]
sub_name = dms.at[1,"Unnamed: 3"]

print(sub_name)
print(sub_code)

Course Name : Discrete Mathematical Structures
Course Code : 1000202100

In [540]:
sub_code = dms.at[1,"VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM"]
sub_name = dms.at[1,"Unnamed: 3"]

print(sub_name)
print(sub_code)

Course Name : Discrete Mathematical Structures
Course Code : 1000202100

# Data Cleaning

In [541]:
python.drop(labels=[0,1,2,3,4], axis=0,inplace=True)
# dropping unnessary rows
python.drop(["VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM",'Unnamed: 5','Unnamed: 8','Unnamed: 10','Unnamed: 13'], axis=1,inplace=True)
# renaming cols
python.columns = ['roll','objective','2A','2B','3A','3B','4','Total-30M','Total-18M']
# resetting the index
python.reset_index(inplace = True)
python.index+=1
# dropping previous index
python.drop(['index'], axis=1,inplace=True)
# filling null values with 0
python.dropna(thresh=6, inplace=True)
python.fillna(value=0, inplace=True)



dms.drop(labels=[0,1,2,3,4], axis=0,inplace=True)
dms.drop(["VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM",'Unnamed: 5','Unnamed: 8','Unnamed: 10','Unnamed: 13'], axis=1,inplace=True)
dms.columns = ['roll','objective','2A','2B','3A','3B','4','Total-30M','Total-18M']
dms.reset_index(inplace = True)
dms.index+=1
dms.drop(['index'], axis=1,inplace=True)
dms.dropna(thresh=6, inplace=True)
dms.fillna(value=0, inplace=True)

se.drop(labels=[0,1,2,3,4], axis=0,inplace=True)
se.drop(["VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM",'Unnamed: 5','Unnamed: 8','Unnamed: 10','Unnamed: 13'], axis=1,inplace=True)
se.columns = ['roll','objective','2A','2B','3A','3B','4','Total-30M','Total-18M']
se.reset_index(inplace = True)
se.index+=1
se.drop(['index'], axis=1,inplace=True)
se.dropna(thresh=6, inplace=True)
se.fillna(value=0, inplace=True)

# sds.drop(labels=[0,1,2], axis=0,inplace=True)
# sds.drop(["VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY (AUTONOMOUS) : VISAKHAPATNAM",'Unnamed: 5','Unnamed: 8','Unnamed: 10','Unnamed: 13'], axis=1,inplace=True)
# sds.reset_index()

In [542]:
python.set_index("roll")
python.head(10)

          roll  objective  2A  2B  3A  3B  4  Total-30M  Total-18M
1   20L31A5401          5   5   4   3   2  3         17         14
2   20L31A5402          6   5   4   5   5  4         23         18
3   20L31A5403          4   4   4   4   3  4         19         14
4   20L31A5404          6   5   4   5   5  3         22         17
5   20L31A5405          5   3   4   0   4  4         15         13
6   20L31A5406          5   4   4   3   2  1         14         12
7   20L31A5407          2   3   0   2   0  1          6          5
8   20L31A5408          3   5   0   5   0  2         12          9
9   20L31A5409          6   5   5   5   5  4         24         18
10  20L31A5411          6   5   3   5   5  4         22         17

In [543]:
dms.head(10)

          roll  objective  2A  2B  3A  3B  4  Total-30M  Total-18M
1   20L31A5401          5   5   5   3   2  2         17         14
2   20L31A5402          6   5   5   3   3  4         20         16
3   20L31A5403          4   5   5   3   3  3         19         14
4   20L31A5404          6   5   5   3   5  3         21         17
5   20L31A5405          2   5   5   2   5  1         18         11
6   20L31A5406          2   5   2   1   1  1         10          7
7   20L31A5407          1   5   2   0   0  0          7          5
8   20L31A5408          0   3   1   0   0  0          4          2
9   20L31A5409          6   5   5   4   5  3         22         17
10  20L31A5411          6   5   5   3   3  2         18         15

In [544]:
se.head(10)

          roll  objective  2A  2B  3A  3B  4  Total-30M  Total-18M
1   20L31A5401          2   4   4   1   1  0         10          7
2   20L31A5402          3   5   4   5   5  4         23         15
3   20L31A5403          3   5   4   5   4  3         21         14
4   20L31A5404          3   4   4   5   5  4         22         14
5   20L31A5405          1   3   0   4   5  0         12          7
6   20L31A5406          3   5   3   3   2  2         15         11
7   20L31A5407          2   5   3   5   5  0         18         11
8   20L31A5408          1   5   2   5   5  2         19         11
9   20L31A5409          2   4   4   1   4  0         13          9
10  20L31A5411          4   5   5   5   4  3         22         15

# Sorted DataFrame

In [545]:
python_sorted =python.sort_values(by=['Total-18M'], ascending=False)
python_sorted.reset_index(inplace = True)
python_sorted.index+=1
python_sorted.drop(columns=['index'],inplace=True)
python_sorted = python_sorted.loc[~(python_sorted==0).all(axis=1)]
python_sorted.head(10)

          roll  objective  2A  2B  3A  3B  4  Total-30M  Total-18M
1   20L31A5434          6   5   4   5   5  4         23         18
2   20L31A5409          6   5   5   5   5  4         24         18
3   20L31A5425          6   5   5   5   5  4         24         18
4   20L31A5450          6   5   5   5   5  3         23         18
5   20L31A5435          6   5   5   5   4  4         23         18
6   20L31A5452          6   5   5   5   5  4         24         18
7   20L31A5413          6   5   5   5   5  4         24         18
8   20L31A5438          6   5   5   5   5  4         24         18
9   20L31A5414          6   5   5   5   5  4         24         18
10  20L31A5402          6   5   4   5   5  4         23         18

In [546]:
se_sorted =se.sort_values(by=['Total-18M'], ascending=False)
se_sorted.reset_index(inplace = True)
se_sorted.index+=1
se_sorted.drop(columns=['index'],inplace=True)
se_sorted = se_sorted.loc[~(se_sorted==0).all(axis=1)]
se_sorted.head(10)

          roll  objective  2A  2B  3A  3B  4  Total-30M  Total-18M
1   20L31A5418          6   5   5   5   5  4         24         18
2   20L31A5461          6   3   4   5   5  4         21         17
3   20L31A5455          5   5   4   5   5  4         23         17
4   20L31A5427          5   5   3   5   5  4         22         16
5   20L31A5431          4   4   5   5   5  4         23         16
6   20L31A5454          6   5   4   5   3  3         20         16
7   20L31A5452          4   5   4   5   5  4         23         16
8   20L31A5416          5   5   4   4   4  4         21         16
9   20L31A5438          4   4   5   5   5  4         23         16
10  20L31A5460          4   4   4   5   4  4         21         15

In [547]:
dms_sorted = dms.sort_values(by=['Total-18M'], ascending=False)
dms_sorted.reset_index(inplace = True)
dms_sorted.index+=1
dms_sorted.drop(columns=['index'],inplace=True)
dms_sorted = dms_sorted.loc[~(dms_sorted==0).all(axis=1)]
dms_sorted.head(10)

          roll  objective  2A  2B  3A  3B  4  Total-30M  Total-18M
1   20L31A5431          6   5   5   5   5  4         24         18
2   20L31A5418          6   5   5   3   5  3         21         17
3   20L31A5404          6   5   5   3   5  3         21         17
4   20L31A5409          6   5   5   4   5  3         22         17
5   20L31A5451          6   5   5   5   5  2         22         17
6   20L31A5452          6   5   5   5   5  2         22         17
7   20L31A5454          6   5   5   3   5  2         20         16
8   20L31A5402          6   5   5   3   3  4         20         16
9   20L31A5444          6   5   5   3   5  2         20         16
10  20L31A5415          6   5   5   5   3  2         20         16

In [548]:
top5_python = python_sorted.head(5)
least5_python = python_sorted.tail(5)

top5_dms = dms_sorted.head(5)
least5_dms = dms_sorted.tail(5)

top5_se = se_sorted.head(5)
least5_se = se_sorted.tail(5)

# Basic all subjects Stats

In [549]:
i=1;pythont5 = {};dmst5 = {};set5 = {}
for index, std in top5_python.iterrows():
    print("{}.{} has obtained {} marks".format(i,std['roll'],std['Total-18M']))
    pythont5.update({std['roll']:std['Total-18M']})
    i+=1
print("\n")
i=1
for index, std in top5_dms.iterrows():
    print("{}.{} has obtained {} marks".format(i,std['roll'],std['Total-18M']))
    dmst5.update({std['roll']:std['Total-18M']})
    i+=1
print("\n")
i=1
for index, std in top5_se.iterrows():
    print("{}.{} has obtained {} marks".format(i,std['roll'],std['Total-18M']))
    set5.update({std['roll']:std['Total-18M']})
    i+=1

1.20L31A5434 has obtained 18 marks
2.20L31A5409 has obtained 18 marks
3.20L31A5425 has obtained 18 marks
4.20L31A5450 has obtained 18 marks
5.20L31A5435 has obtained 18 marks


1.20L31A5431 has obtained 18 marks
2.20L31A5418 has obtained 17 marks
3.20L31A5404 has obtained 17 marks
4.20L31A5409 has obtained 17 marks
5.20L31A5451 has obtained 17 marks


1.20L31A5418 has obtained 18 marks
2.20L31A5461 has obtained 17 marks
3.20L31A5455 has obtained 17 marks
4.20L31A5427 has obtained 16 marks
5.20L31A5431 has obtained 16 marks

# Common Top-5 in all subjects

In [550]:
python_t5set = set(pythont5)
dms_t5set = set(dmst5)
se_t5set = set(set5)

In [551]:
common_t5set = set.intersection(python_t5set,dms_t5set,se_t5set)
for roll in common_t5set:
    print(roll)

# Common Least-5 in all subjects

In [552]:
python_l5set = set(pythonl5)
dms_l5set = set(dmsl5)
se_l5set = set(sel5)

In [553]:
common_l5set = set.intersection(python_l5set,dms_l5set,se_l5set)
for roll in common_l5set:
    print(roll)

20L31A5456

# Top 5 in one subject with other subject

In [554]:
i=1
for index, std in top5_dms.iterrows():
        marks = ((python[python['roll'] == std['roll']]['Total-18M']).values)
        print("{}.{} has obtained {} marks".format(i,std['roll'],*marks))
        i+=1

1.20L31A5431 has obtained 14 marks
2.20L31A5418 has obtained 15 marks
3.20L31A5404 has obtained 17 marks
4.20L31A5409 has obtained 18 marks
5.20L31A5451 has obtained 15 marks

# Least 5 in one subject with other subject

In [555]:
i=1
for index, std in least5_dms.iterrows():
        marks = ((python[python['roll'] == std['roll']]['Total-18M']).values)
        print("{}.{} has obtained {} marks".format(i,std['roll'],*marks))
        i+=1

1.20L31A5407 has obtained 5 marks
2.20L31A5417 has obtained 9 marks
3.20L31A5422 has obtained 11 marks
4.20L31A5408 has obtained 9 marks
5.20L31A5456 has obtained 2 marks

# Count of Frequency of marks

In [556]:
marks_frequency_df = pd.DataFrame()
marks_frequency_df.head()

Empty DataFrame
Columns: []
Index: []

In [557]:
m_stats_dict_dms = (dms['Total-18M'].value_counts()).to_dict()
m_stats = (dms['Total-18M'].value_counts()).to_frame()
m_stats= m_stats.reset_index()
m_stats.columns = ['Marks','no.of stds']
m_stats.sort_values(by=['Marks'],ascending=False,inplace=True)
m_stats_dms = m_stats.reset_index()
m_stats_dms.drop(columns=['index'],inplace=True)

m_stats_dict_se = (se['Total-18M'].value_counts()).to_dict()
m_stats = (se['Total-18M'].value_counts()).to_frame()
m_stats= m_stats.reset_index()
m_stats.columns = ['Marks','no.of stds']
m_stats.sort_values(by=['Marks'],ascending=False,inplace=True)
m_stats_se= m_stats.reset_index()
m_stats_se.drop(columns=['index'],inplace=True)

m_stats_dict_python = (python['Total-18M'].value_counts()).to_dict()
m_stats = (python['Total-18M'].value_counts()).to_frame()
m_stats= m_stats.reset_index()
m_stats.columns = ['Marks','no.of stds']
m_stats.sort_values(by=['Marks'],ascending=False,inplace=True)
m_stats_python = m_stats.reset_index()
m_stats_python.drop(columns=['index'],inplace=True)

In [558]:
for key in reversed(list(sorted(m_stats_dict_python.keys()))):
    print("no.of students of scored {} are {}".format(key,m_stats_dict[key]))

no.of students of scored 18 are 12
no.of students of scored 17 are 9
no.of students of scored 16 are 2
no.of students of scored 15 are 6
no.of students of scored 14 are 11
no.of students of scored 13 are 7
no.of students of scored 12 are 4
no.of students of scored 11 are 4
no.of students of scored 10 are 1
no.of students of scored 9 are 3
no.of students of scored 8 are 1
no.of students of scored 6 are 3
no.of students of scored 5 are 2
no.of students of scored 4 are 1
no.of students of scored 3 are 1
no.of students of scored 2 are 2

In [559]:
for key in reversed(list(sorted(m_stats_dict_se.keys()))):
    print("no.of students of scored {} are {}".format(key,m_stats_dict_se[key]))

no.of students of scored 18 are 1
no.of students of scored 17 are 2
no.of students of scored 16 are 6
no.of students of scored 15 are 4
no.of students of scored 14 are 9
no.of students of scored 13 are 6
no.of students of scored 12 are 5
no.of students of scored 11 are 9
no.of students of scored 10 are 6
no.of students of scored 9 are 9
no.of students of scored 8 are 4
no.of students of scored 7 are 3
no.of students of scored 6 are 1
no.of students of scored 3 are 2

In [560]:
for key in reversed(list(sorted(m_stats_dict_dms.keys()))):
    print("no.of students of scored {} are {}".format(key,m_stats_dict_dms[key]))

no.of students of scored 18 are 1
no.of students of scored 17 are 5
no.of students of scored 16 are 5
no.of students of scored 15 are 8
no.of students of scored 14 are 8
no.of students of scored 13 are 10
no.of students of scored 12 are 3
no.of students of scored 11 are 6
no.of students of scored 10 are 8
no.of students of scored 9 are 2
no.of students of scored 8 are 2
no.of students of scored 7 are 2
no.of students of scored 6 are 2
no.of students of scored 5 are 3
no.of students of scored 3 are 1
no.of students of scored 2 are 2

In [561]:
# making an Index
m_stats_se_t = m_stats_se.set_index('Marks')
m_stats_python_t = m_stats_python.set_index('Marks')
m_stats_dms_t = m_stats_dms.set_index('Marks')


# renaming col names to resolve ambiguity
m_stats_se_t.rename(columns = {'no.of stds':'se'}, inplace = True)
m_stats_python_t.rename(columns = {'no.of stds':'python'}, inplace = True)
m_stats_dms_t.rename(columns = {'no.of stds':'dms'}, inplace = True)

# setting index col name as none to join the df's
m_stats_se_t.index.name = None
m_stats_dms_t.index.name = None
m_stats_python_t.index.name = None

final_fdf = m_stats_se_t.join(m_stats_python_t)
final_fdf = final_fdf.join(m_stats_dms_t)
final_fdf = final_fdf.fillna(0)

# converting to int if any value is float
for col in list(final_fdf):
    final_fdf[col] = final_fdf[col].astype(int)


final_fdf.head(20)

    se  python  dms
18   1      12    1
17   2       9    5
16   6       2    5
15   4       6    8
14   9      11    8
13   6       7   10
12   5       4    3
11   9       4    6
10   6       1    8
9    9       3    2
8    4       1    2
7    3       0    2
6    1       3    2
3    2       1    1

# Standard Deviations

In [562]:
data = [{'Part':'objective','Std': python['objective'].std()},
        {'Part':'2A','Std': python['2A'].std()},
        {'Part':'2B','Std': python['2B'].std()},
        {'Part':'3A','Std': python['3A'].std()},
        {'Part':'3B','Std': python['3B'].std()},
        {'Part':'4','Std': python['4'].std()},
        {'Part':'Total-30M','Std': python['Total-30M'].std()},
        {'Part':'Total-18M','Std': python['Total-18M'].std()}
       ]
python_std_df = pd.DataFrame(data)
python_std_df = python_std_df.set_index('Part')
python_std_df.index.name = None

data = [{'Part':'objective','Std': dms['objective'].std()},
        {'Part':'2A','Std': dms['2A'].std()},
        {'Part':'2B','Std': dms['2B'].std()},
        {'Part':'3A','Std': dms['3A'].std()},
        {'Part':'3B','Std': dms['3B'].std()},
        {'Part':'4','Std': dms['4'].std()},
        {'Part':'Total-30M','Std': dms['Total-30M'].std()},
        {'Part':'Total-18M','Std': dms['Total-18M'].std()}
       ]
dms_std_df = pd.DataFrame(data)
dms_std_df = dms_std_df.set_index('Part')
dms_std_df.index.name = None

data = [{'Part':'objective','Std': se['objective'].std()},
        {'Part':'2A','Std': se['2A'].std()},
        {'Part':'2B','Std': se['2B'].std()},
        {'Part':'3A','Std': se['3A'].std()},
        {'Part':'3B','Std': se['3B'].std()},
        {'Part':'4','Std': se['4'].std()},
        {'Part':'Total-30M','Std': se['Total-30M'].std()},
        {'Part':'Total-18M','Std': se['Total-18M'].std()}
       ]
se_std_df = pd.DataFrame(data)
se_std_df = se_std_df.set_index('Part')
se_std_df.index.name = None


# renaming col names to resolve ambiguity
python_std_df.rename(columns = {'Std':'python'}, inplace = True)
dms_std_df.rename(columns = {'Std':'dms'}, inplace = True)
se_std_df.rename(columns = {'Std':'se'}, inplace = True)



final_std_df = se_std_df.join(python_std_df)
final_std_df = final_std_df.join(dms_std_df)
final_std_df = final_std_df.fillna(0)
final_std_df.head(10)

                 se    python       dms
objective  1.468191  1.592957  1.759958
2A         1.012361  1.160959  0.769679
2B         1.574618  1.723168  1.534502
3A         1.543138  1.718462  1.456420
3B         1.396513  1.967554  1.822393
4          1.540792  1.454774  1.110549
Total-30M  4.662174  6.253592  5.005769
Total-18M  3.256972  4.361832  3.848395


# Averages

In [563]:
python_avg_df = python.loc[:, python.columns != 'roll']
python_avg_df = python_avg_df.mean().to_frame().reset_index()
python_avg_df = python_avg_df.iloc[1:]
python_avg_df.columns = ['part-wise','avg-marks-obtained']
python_avg_df_chart = python_avg_df


dms_avg_df = dms.loc[:, dms.columns != 'roll']
dms_avg_df = dms_avg_df.mean().to_frame().reset_index()
dms_avg_df = dms_avg_df.iloc[1:]
dms_avg_df.columns = ['part-wise','avg-marks-obtained']
dms_avg_df_chart = dms_avg_df


se_avg_df = se.loc[:, se.columns != 'roll']
se_avg_df = se_avg_df.mean().to_frame().reset_index()
se_avg_df = se_avg_df.iloc[1:]
se_avg_df.columns = ['part-wise','avg-marks-obtained']
se_avg_df_chart = se_avg_df


python_avg_df = python_avg_df.set_index('part-wise')
python_avg_df.index.name = None

dms_avg_df = dms_avg_df.set_index('part-wise')
dms_avg_df.index.name = None

se_avg_df = se_avg_df.set_index('part-wise')
se_avg_df.index.name = None


# renaming col names to resolve ambiguity
python_avg_df.rename(columns = {'avg-marks-obtained':'python'}, inplace = True)
dms_avg_df.rename(columns = {'avg-marks-obtained':'dms'}, inplace = True)
se_avg_df.rename(columns = {'avg-marks-obtained':'se'}, inplace = True)




final_avg_df = se_avg_df.join(python_avg_df)
final_avg_df = final_avg_df.join(dms_avg_df)
final_avg_df = final_avg_df.fillna(0)
final_avg_df = final_avg_df.round(decimals = 3)

final_avg_df.head(10)

               se  python     dms
2A          4.224   4.348   4.779
2B          3.224   3.174   3.941
3A          3.731   3.420   1.706
3B          3.522   2.493   2.191
4           1.746   2.826   1.426
Total-30M  16.448  16.261  14.044
Total-18M  11.597  13.217  11.897

In [582]:
# python_avg_df.reset_index(inplace = True)
# python_avg_df.rename(columns = {'python':'avg-marks-obtained','index':'part-wise'}, inplace = True)


# se_avg_df.reset_index(inplace = True)
# se_avg_df.rename(columns = {'se':'avg-marks-obtained','index':'part-wise'}, inplace = True)


# dms_avg_df.reset_index(inplace = True)
# dms_avg_df.rename(columns = {'dms':'avg-marks-obtained','index':'part-wise'}, inplace = True)

python_avg_df_chart['subject'] = 'python'
dms_avg_df_chart['subject'] = 'dms'
se_avg_df_chart['subject'] = 'se'

python_avg_df_chart.head(10)
dms_avg_df_chart.head(10)
se_avg_df_chart.head(10)

   part-wise  avg-marks-obtained sub subject
1         2A            4.223881  se      se
2         2B            3.223881  se      se
3         3A            3.731343  se      se
4         3B            3.522388  se      se
5          4            1.746269  se      se
6  Total-30M           16.447761  se      se
7  Total-18M           11.597015  se      se

In [583]:
final_avg_df_chart = python_avg_df_chart.append((dms_avg_df_chart,se_avg_df_chart), ignore_index = True)
final_avg_df_chart.head(30)

    part-wise  avg-marks-obtained     sub subject
0          2A            4.347826  python  python
1          2B            3.173913  python  python
2          3A            3.420290  python  python
3          3B            2.492754  python  python
4           4            2.826087  python  python
5   Total-30M           16.260870  python  python
6   Total-18M           13.217391  python  python
7          2A            4.779412     dms     dms
8          2B            3.941176     dms     dms
9          3A            1.705882     dms     dms
10         3B            2.191176     dms     dms
11          4            1.426471     dms     dms
12  Total-30M           14.044118     dms     dms
13  Total-18M           11.897059     dms     dms
14         2A            4.223881      se      se
15         2B            3.223881      se      se
16         3A            3.731343      se      se
17         3B            3.522388      se      se
18          4            1.746269      se      se
19  Total-30M           16.447761      se      se
20  Total-18M           11.597015      se      se

In [584]:
df = px.data.tips()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [585]:
df = px.data.tips()
fig = px.histogram(final_avg_df_chart, x='part-wise', y='avg-marks-obtained', title="Avg Marks of class"
             ,color='subject', barmode='group',
             height=700)
fig.show()